<header
  class="flex items-center justify-between border-b border-secondary px-4 py-2">
  <span></span>
  <button>
    <ng-icon
      name="heroUserCircle"
      size="36"
      [matMenuTriggerFor]="menu"
      aria-label="Profile icon with menu" />
  </button>

  <mat-menu #menu="matMenu">
    <button
      *ngFor="let item of menuList"
      (click)="item.isReady && item?.action()"
      class="w-full flex items-center gap-2 px-2 py-3 hover:bg-cyan-100 hover:text-dark">
      <ng-icon [name]="item.icon" size="24" />
      <span>{{ item.title }}</span>
    </button>
  </mat-menu>
</header>
